<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="frontpagestyle.css">
    <title>DoT</title>
</head>
<body>
<header class="showcase">
    <div class="showcase-top">
        <img src="dotlogo.jpg" alt="Dot Logo">
    </div>
    <div class="showcase-content">
        <h1>Start DOTing your tasks.</h1>
        <h3>Keep your tasks organized in one place.</h3>
        <h1>Ready to dot? </h1>
        <br>
        <br>
        <a href="login.html" class="btn btn-lg">START DOTING ></a>
    </div>
</header>
</body>
<div class="footer-container">
    <div class="footer-content">
        <p>Thank You for Choosing</p>
        <h2>DOT</h2>
    </div>
    <div class="footer-info">
        <h3>Contact Us:</h3>
        <ul>
            <li>Email: support@dotapp.com</li>
            <li>Phone: +1 (555) 123-4567</li>
            <li>Website: <a href="www.dotapp.com/contact">www.dotapp.com/contact</a></li>
        </ul>
    </div>
    <div class="footer-social">
        <h3>Follow Us:</h3>
        <ul>
            <li>Twitter: @DOTapp</li>
            <li>Facebook: /DOTapp</li>
            <li>Instagram: @dot_app</li>
        </ul>
    </div>
    <div class="footer-privacy">
        <p>Your privacy is important to us. Read our Privacy Policy and Terms of Service for more information on how we
            handle your data and usage of our application.</p>
    </div>
</div>

</html>